[run]
omit =
    # omit anything in a tests directory anywhere
    */tests/*
    # omit anything in a test_bloks directory anywhere
    */test_bloks/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # unexecuting logger
    logger\.
